---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Space tourism website." description="Space tourism website.">
  <!-- The Header -->
  <Header />
  <main
    class="mt-12 flex flex-col items-center gap-[5.06rem] md:mt-[6.63rem] md:gap-[9.75rem] xl:mx-[10.31rem] xl:mt-[18rem] xl:flex-row xl:justify-between"
  >
    <section
      class="flex flex-col items-center justify-center xl:flex-row xl:justify-start"
    >
      <div
        class="flex w-[20.4375rem] flex-col items-center gap-4 text-center md:w-[27.75rem] md:gap-6 xl:items-start xl:justify-end xl:text-left"
      >
        <h1
          class="font-barlowCondensed text-base font-normal uppercase leading-normal tracking-[0.16875rem] text-[#D0D6F9] md:text-lg md:tracking-[0.21094rem] xl:text-[1.75rem] xl:tracking-[0.29531rem]"
        >
          So, you want to travel to
        </h1>
        <h2
          class="text-[5rem] font-normal uppercase leading-[6.25rem] text-white md:text-[9.375rem] md:leading-[9.375rem] xl:leading-normal"
        >
          Space
        </h2>
        <p
          class="font-barlow text-[0.9375rem] font-normal leading-[1.5625rem] text-[#D0D6F9]"
        >
          Let&#39;s face it; if you want to go to space, you might as well
          genuinely go to outer space and not hover kind of on the edge of it.
          Well sit back, and relax because we&#39;ll give you a truly out of
          this world experience!
        </p>
      </div>
    </section>
    <section class="">
      <div class="">
        <a
          href="/"
          class="relative flex size-[9.375rem] items-center justify-center rounded-full bg-white text-xl font-normal uppercase leading-normal tracking-[0.07813rem] text-[#0B0D17] hover:before:absolute hover:before:-left-6 hover:before:-top-6 hover:before:size-[25.125rem] hover:before:rounded-full hover:before:bg-white hover:before:opacity-[0.1036] md:size-[15.125rem] md:text-[2rem] md:tracking-[0.125rem] md:hover:before:left-[-4.5rem] md:hover:before:top-[-4.5rem] md:hover:before:size-[15.125rem] xl:size-[17.125rem] xl:hover:before:left-[-5.5rem] xl:hover:before:top-[-5.5rem] xl:hover:before:size-[28.125rem]"
          >Explore</a
        >
      </div>
    </section>
  </main>
</Layout>

<style is:inline>
  body {
    background-image: url("/images/home/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 768px) {
    body {
      background-image: url("/images/home/background-home-tablet.jpg");
    }
  }
  @media (max-width: 375px) {
    body {
      background-image: url("/images/home/background-home-mobile.jpg");
    }
  }
</style>
